body {
	background: url("http://all4desktop.com/data_images/original/4238051-background.jpg");
}

.droite { 
	float: right;
}

.gauche {
	float: left;
}

.th {
	padding: 5px;
	text-align: center;
}

.td {
	padding: 5px;
}


.affiche {
	height: 100px;
}

.entete {
	background-color: red;
	height:46px;
	text-align: center;
	cursor: pointer;
}

.entete ul li {
	list-style: none;
	margin-top: 10px;
	display: inline-block;
	margin-left: 7px;
	margin-right: 7px; 
}

.entete a {
	color: white;
	text-decoration: none;
}

.entete a:hover {
	color: black;
	text-decoration: none;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
}

.menu {
	background-color: red;
	height:46px;
	margin-top:20px;
	padding: 10px;
	color: white;
}

.menu ul li {
	text-align: center;
	display: inline;
	padding: 2px;
}

.input_menu {
	margin-top:-3px;
	border: none;
	width: 55%;
	display: inline;
}

.input_search {
	border: none;
	
}


.logo {
	text-align:center;
	height:100px;
	margin-top:20px;
}

.vue {
	background-color: purple;
	height: 600px;
	word-wrap: break-word;
	color: black;
}

.vue ul li {
	list-style: none;
	margin-left: -58px;
}

.film {
	background-color: green;
	height: 600px;
	color: black;
}

.scroll {
	 overflow: scroll;
	 overflow-x: hidden; 
}

footer { 
	margin-top: 30px;
	margin-bottom: 30px;
	height: auto;
	position: absolute;
	background-color: black;
	text-decoration: none;
	text-align: center;
}

footer ul li {
	color: white;
	list-style: none;
}

.media {
	margin-top: 180px;
	background-color:red;
	height: 500px;
	border-radius: 5px;
	margin-left: 17%;	
}

.media2 {
	border-top: 5px solid black;
	border-left: 5px solid black;
	border-right: 5px solid black;
	border-bottom: 5px solid black;
	margin-top:10px;
	height: 467px;
}

.media3 {
	height: 23px;
}


