html, body {
	height:100%;
	width:100%;
	margin:0px;
	overflow:hidden;
	background: url('../img/silentmoon.jpg') no-repeat center fixed;
	background-size:cover;
}

h1 {
	
}

h2 {
	font-size:15px;
}

.droite {
	float:right;
	margin-right:10%;
}
.gauche {
	float:left;	
	margin-left:10%;	
}

.middle {
	margin-top:-10px;
	margin-left: 20%;
	margin-right: 20%;
	}
	
.middle a {
	text-decoration: none;
	}
	
.droite ul {
	width:100%;
	list-style:none;
	min-width:30%;
}

.gauche ul {
	width:100%;
	list-style:none;
	min-width:30%;
}
.nav {
	display: flex;
	justify-content : space-around;
	flex-wrap: nowrap;
	max-width:100%;
	width:100%;
	top:0px;
	left:0px;
	right:0px;
	height:30px;	
	margin:0;
	background-color:black;
	color:white;	
	text-decoration:none;
	list-style:none;
	padding:2%; 	

}


.contenu {
	text-align:center;
	margin-top:8%;
	width:100%;
	height:auto;
	padding:10px;
}


.reduire {
	height:15px;
	width:15px;
	border:1px solid black;	
	border-right:none;
	border-top:none;	
	position:absolute;
	right:0px;
	top:0px;	
}


.code_html_gauche {
	padding:10px;
	top:250px;
	height:200px;
	width:500px; 
	resize:none;
	color: black;
	left:10px; 
	position:absolute;
	text-align:center;
	}

.code_html_droite {
	padding:10px;
	top:250px;
	height:200px; 
	width:500px; 
	resize:none;
	color: black;
	right:10px; 
	position:absolute;
	text-align:center;

}

#code_html_droite:hover {
	transform: rotate(7deg);
}

#code_html_gauche:hover {
	transform: rotate(7deg);
}

#photo {
	width:150px;
	height:90%;
	opacity:0.9;
}

#photo:hover {
	box-shadow: 5px 5px 5px 5px#08082E;
}

#input {
	background-color:black;
	border:none;
	color:white;
	cursor:pointer;
}

#input:hover {

	border-top:1px solid red;
	border-bottom:1px solid white;
}

#diplomes {
	height:auto; 
	width:400px; 
	position:absolute; 
	top:250px;
	visibility: hidden;
	box-shadow: 5px 5px 5px 5px#08082E;
	text-align:left;
	background-color:white;
}

#metier {
	top:250px;
	height:auto; 
	width:400px; 
	right:10px; 
	position:absolute;
	visibility: hidden;
	text-align:left;
	box-shadow: 5px 5px 5px 5px#08082E;
	background-color:white;
}

#infopriv {
	height:auto; 
	width:90%; 
	position:absolute;
	margin-left:5%;
	margin-left:5%;
	visibility: hidden;
	box-shadow: 5px 5px 5px 5px #08082E;
	padding-left:15px;
	padding-right:15px;
	background-color:white;
	text-align:left;
}
#langue {

	position: absolute; 
	left:10px;
	top: 130px;
	width:500px;
	height:auto;
	visibility: hidden;
	box-shadow: 5px 5px 5px 5px#08082E;
	padding:5px;
	background-color:white;
	
}

#langue ul li {
	list-style:none;
	display:inline;
}

#langue table {

	margin: auto;
}

#contact {
	position: absolute; 
	right:10px;
	top: 130px;
	width:500px;
	height:auto;
	visibility: hidden;
	box-shadow: 5px 5px 5px 5px#08082E;
	background-color:white;
	
}

#contact ul li {

}

#icosql {
	height:35px;
}

#icopython {
	height:35px;
}

#icojs {
	height:35px;
}

#icophp {
	height:35px;
}

#icohtml {
	height:35px;
}

#icocss {
	height:35px;
}

#icofb {
	height:40px;
	cursor: pointer;
}

#icofb:hover {
	background-color: white;
	border-radius: 100%;
}

#icotw {
	height:40px;
	cursor: pointer;
}

#icotw:hover {
	background-color: white;
	border-radius: 100%;
}

#icoin {
	height:40px;
	cursor: pointer;
}

#icoin:hover {
	background-color: white;
	border-radius: 100%;
}

